/* Menu */

body {
    padding: 0px;
    margin: 0px; 
    margin-bottom: 0px;
}

.menu {
    display: grid;
    flex-direction: column;
    background-color: #42a11a;
    width: 100%;
}

.menu img {
    height: 150px;
    width: 150px;
    margin: auto;
}

i#burguer {
    background-color: #2b770a;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

i#burguer:hover {
    background-color: #1e5c04;
}

.menudireita {
    display: none;
}

.menu a {
    font-family: sans-serif;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: #2b770a;  
}



/* Planos */

.planos {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.planos h1{
    font-family: fantasy;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #EDE8E8;
}

.planos iframe {
    margin: auto;
    padding: 20px;
    padding-top: 0px;
    width: 90%;
    height: auto;
}

.planos a{
    background-color: #2b770a;
    color: #EDE8E8;
    margin: auto;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family:fantasy, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 0px 0px 5px 0px;
    margin-bottom: 25px;
    
}

.planos a:hover {
cursor: pointer;
background-color: #1e5c04;
}

.planos img {
    display: flex;
    margin: auto;
    width: 40vw;
    padding: 10px;


}



/* Atividades */

.atividades {
    background-color: #2b770a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.atividades h1 {
    font-family: fantasy;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #EDE8E8;
}

.quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    background-color: #000000;
    padding: 0px 15px 10px 15px;
    width: 400px;
    height: auto;
    margin-bottom: 15px;
}

.quadrado h1 {
    text-align: center;
    font-size: 45px;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.quadrado img {
    width: 380px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.quadrado h2{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    margin: 0;
}

.quadrado p {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.quadrado button {
    background-color: #ff9100;
    width: 250px;
    height: 35px;
    position: center;
    border-radius: 30px;
    font-family: fantasy;
    font-size: 20px;
    color: white;
}

.quadrado a {
    text-decoration: none;
    color: white;
}




/* Rodapé */

.rodape {

display: block;
background-color: #42a11a;
margin: 0;
padding: 5px;
}

.rodape h1 {
    font-size: 15px;
    text-align: center;
    font-family: fantasy;
    color: #EDE8E8;
}

.redessociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redessociais a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {

    /*Ajustando meu menu */

    .menu {
        display: flex;
        flex-direction: row;
    }

    .menu img {
        margin-left: 20px;
        height: 85px;
        width: 85px;
    }

    i#burguer{
        display: none;
    }

    .menudireita {
        height: 30px;

        display: flex;
        flex-direction: row;
        font-family: sans-serif;
        
        align-items: center;
        text-decoration: none;
        text-align: center;
        padding: 10px;

        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 20px;

        background-color: #ffffff;
        color: #2b770a; 
        border-radius: 20px;
    }


    /*Ajuste da primeira parte dos planos */

    .planos {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }

    .planos iframe {
        width: 750px;
        height: 400px;
    }

    .planos a {
        margin-top: 15px;
    }


    /*Ajuste da seção das atividades */

    .atividades {
        display: flex;
        flex-direction: column;
    }

    .dupla {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
    }
}